<div class="row">
  <div class="col-md-2">
    <dx-autocomplete
      placeholder="Add movie by id..."
      valueExpr="Title"
      [dataSource]="dataSourceId"
      [(selectedItem)]="selectedMovie"
      (onItemClick)="addMovie()">
      <div *dxTemplate="let item of 'item'">
        <span>{{item.Title}} ({{item.Year}})</span>
      </div>
    </dx-autocomplete>
  </div>
  <div class="col-md-10">
    <dx-autocomplete
      placeholder="Add movie by title..."
      valueExpr="Title"
      [dataSource]="dataSource"
      [(selectedItem)]="selectedMovie"
      (onItemClick)="addMovie()">
      <div *dxTemplate="let item of 'item'">
        <span>{{item.Title}} ({{item.Year}})</span>
      </div>
    </dx-autocomplete>
  </div>
</div>

