<app-movie-search (update)="updateGrid()"></app-movie-search>
<br>
<dx-data-grid
    height="68vh"
    [allowColumnReordering]="true"
    [dataSource]="dataSource">
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-editing
         mode="cell"
         [allowUpdating]="true"
         [allowDeleting]="true">
    </dxo-editing>
    <dxo-filter-row 
        visible="true">
    </dxo-filter-row>
    <dxi-column dataField="Title" [allowEditing]="false"></dxi-column>
    <dxi-column dataField="Genre" [allowEditing]="false"></dxi-column>
    <dxi-column dataField="Released" [allowEditing]="false" dataType="date" width=110 sortOrder="asc"></dxi-column>
    <dxi-column dataField="WatchedDate" caption="Watched" dataType="date" width=110></dxi-column>
    <dxi-column dataField="Available" width=90>
        <dxi-validation-rule type="stringLength" max=20 message="Maximum length is 20"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="Runtime" [allowEditing]="false" dataType="number" width=90></dxi-column>
    <dxi-column dataField="Metascore" [allowEditing]="false" dataType="number" width=90></dxi-column>
    <dxi-column dataField="imdbRating" [allowEditing]="false" dataType="number" width=90></dxi-column>
    <!--<dxi-column dataField="MyScore" dataType="number" width=90>
        <dxi-validation-rule type="range" min=1  message="Minimum score is 1"></dxi-validation-rule>
        <dxi-validation-rule type="range" max=10  message="Maximum score is 10"></dxi-validation-rule>
    </dxi-column>-->
</dx-data-grid>