<div class="row">
    <div class="col-md-6">
        <h1 *ngIf="chosenMovie">{{ chosenMovie.Title }}</h1>
        <dx-button [text]="buttonTitle" (onClick)="click()"></dx-button>
    </div>
    <div *ngIf="showForm" class="col-md-6">
        <dx-form
            [formData]="chosenMovie"
            [readOnly]="true">
            <dxi-item dataField="Title"></dxi-item>
            <dxi-item dataField="ReleaseDate" editorType="dxDateBox"></dxi-item>
            <dxi-item dataField="Genre"></dxi-item>
            <dxi-item dataField="Runtime"></dxi-item>
            <dxi-item dataField="Metascore"></dxi-item>
            <dxi-item dataField="ImdbScore"></dxi-item>
            <dxi-item dataField="Available"></dxi-item>
        </dx-form>
    </div>
</div>
